* {
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
}
.app {
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  max-height: 400px;
  overflow: auto;
  text-align: left;
  border: 1px solid #cccccc;
}
li {
  box-sizing: border-box;
  height: 42px;
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li:first-child {
  border-top: 0;
}
li > span {
  cursor: pointer;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  transition: .2s;
}
li > span:hover {
  font-size: 1rem;
}
li > span:before {
  content: "âŒ";
}
.dummy {
  padding: 0;
  height: 0;
  border: 0;
}